Hi,

<p>You have just added new transaction.</p>
<p>Details below:</p>
<ul>
  <li><b>AccountType:</b><%= accountType %></li>
  <li><b>Amount:</b><%= amount %></li>
  <li><b>Date:</b><%= date %></li>
  <li><b>Description:</b><%= description %></li>
  <li><b>Category:</b><%= category %></li>
</ul>

<p>Thanks!</p>
